{% extends "layout.html" %}
{% block content %}
    <h2>Add a Song</h2>
    <form action="{{ url_for('add') }}" method=post>
        <p class="heading">Title: <input type=text name=title></p>
        <p class="heading">Artist: <input type=text name=artist></p>
        <p class="heading">Genre: <input type=text name=genre></p>    
	    <p></p><input type=submit value=Add></p>
    </form>
    <h2>Songs</h2>
    <ul>
    {% for entry in entries %}
        <li>{{ entry.title }}, {{ entry.artist }}, {{ entry.genre}}</li>

    {% endfor %}
    </ul>

{% endblock %}
