{% extends "layout.html" %}
{% block content %}
    <h2>Add a Song</h2>
    <form action="{{ url_for('add') }}" method=post>
        <label>Title</label>: <input type=text name=title></br>
        <label>Artist</label>: <input type=text name=artist></br/>
        <label>Genre</label>: <input type=text name=genre> </br>   
	    <input type=submit value=Add> <input type="Reset"/>
    </form>
    <h2>Songs</h2>
    <ul>
    {% for entry in entries %}
        <li>{{ entry.title }}, {{ entry.artist }}, {{ entry.genre}}</li>

    {% endfor %}
    </ul>

{% endblock %}
